.default_stroke
  border 1px solid black
  border-radius 5px

body
  font-family 'Roboto', sans-serif
  font-weight 100
  text-transform lowercase
  margin 0

header
  top 0
  height 80px
  background white
  z-index 100

header a
  text-decoration none
  text-align center
  color black
  font-size 2em
  display inline

header nav
  height 100%
  display flex
  align-items center
  margin 0
  overflow hidden
  justify-content flex-start

header input
  width 16%
  height 40px
  font-size 1.5em
  font-family 'Roboto', sans-serif
  font-weight 300
  @extend .default_stroke

h1
  display block
  font-size 5em
  margin-top 10px
  margin-bottom 60px
  text-align center
  font-weight 100

footer
  height 100px
  background black

footer img
  height 100%

div
  display flex
  flex-wrap nowrap
  text-align center

strong
  font-weight 100

th
  font-weight 100
  padding-top 10px

table
  margin-bottom 15px
  table-layout: fixed
  width: 100%

.stroked-function
  border 3px dashed #84b6e8

.logo
  margin-left 10px
  height 100%

.center
  margin-left auto
  margin-right auto
  margin-bottom 200px
  margin-top 200px
  display block

.left-side
  margin-right 20px

.right-side
  margin-right 20px

.first-right-element
  @extend .right-side
  margin-left auto

.item
  flex-direction column
  flex-basis 100%
  margin-left 10px
  margin-right 10px

.item_picture
  margin 5px auto 0 auto
  height 70%
  width 100%

.item_image
  border-radius 5px
  object-fit cover
  height 100%
  width 40%

.item_title
  font-size 2em

.compare_section_block
  justify-content center
  margin 30px

.compare_items_block
  flex-shrink 9
  flex-direction column
  margin-right 70px

.compared_items
  max-height 200px
  align-items stretch
  border-radius 0
  z-index 50
  background white
  top 80px
  justify-content space-between
  display flex

.compared_values
  justify-content center
  flex-direction column
  margin-top 40px
  @extend .default_stroke
  top 400px

.values_group
  flex-direction column
  width 100%
  border-top 1px solid black
  border-radius 0

.values_group:first-child
  border-top 0

.values_subgroup_title
  font-size 3em
  border-bottom 1px solid black
  border-radius 0
  padding-left 5px
  margin-top 10px
  background white

.values_subgroup
  flex-direction column

.values_title_values
  flex-direction column

.values_title
  text-align center
  margin auto
  margin-top 10px
  margin-bottom 5px
  font-size 1.5em

.values_values
  justify-content space-around
  margin-bottom 5px

.menu_items
  flex-shrink 2
  position sticky
  align-self flex-start
  top 20px
  flex-direction column
  overflow-y scroll
  max-height calc(100vh - 40px)
  min-height 70px
  min-width 200px
  width 25vw
  @extend .default_stroke

.menu_item
  justify-content flex-start
  padding-right 5px
  border-radius 0

.menu_item:hover
  background #EEEEEE

.menu_image
  object-fit cover
  height 32px
  width 72px
  margin 16px auto 16px 12px
  border-radius 3px

.menu_item_name
  font-size 1.5em
  display block
  margin auto 40px auto 40px //TODO respect scrollbar
  flex-basis 100%

.about_text
  margin 300px auto
  width 60%
  @extend .default_stroke

div.about_text p
  margin 10px

@media screen and (max-width: 900px)
  header input
    width 150px

@media screen and (min-width: 1600px)
  header input
    width 250px