a {
  color: #84b6e8;
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #f0c674;
  font-family: Code Pro Light, monospace;
}

h1 {
  text-align: center;
  margin-top: 30px
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
}

pre,
code {
  color: #ffffff;
  font-family: Hack, monospace;
  text-align: center;
}

body {
  color: #bec0be;
  font-family: Montserrat, Helvetica, sans-serif;
  background-color: #252525;
  /*padding: 15px;*/
  margin: 0 auto;
}

ul {
  margin:0 auto;
  padding:0 auto;
  display:flex;
  justify-content:space-between;
  list-style-type: none;
}

li {
  margin: 0 auto;
}

nav {
  background-color: #151515;
  top: 0;
  position: fixed;
  width: 100%;
}

.comparison-list {
  display: none;
}

.comparison-header {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly
}

.comparison-header-item img {
  height: 200px;
  width: 200px;
}

.comparison-header-item {

}
