@font-face {
  font-family: Code Pro Light;
  src: url("../fonts/code_pro_light.otf");
}

@font-face {
  font-family: Montserrat;
  src: url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
}

